<title>Rio Olympics - <%=@team.name%></title>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="profile-box-team">
  <div class="row">
    <div class="col-12">
    <h2><%=@team.name%></h2>
    </div>
  </div>


    <div class="row">
        <div class="col-12">
          <img src="<%=@team.nation.flag_url%>">
        </div>
    </div>

    <div class="row">
      <div class="col-12">
        <form action="/team/<%=@team.id%>/add_members">
            <input class="edit-button" type="submit" value="+ Members">
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <form action="/team/<%=@team.id%>/delete" method="post">
            <input class="edit-button" type="submit" value="Delete">
        </form>
      </div>
      <div class="col-6">
        <form action="/team/<%=@team.id%>/edit">
            <input class="edit-button" type="submit" value="Edit">
        </form>
      </div>
    </div>

  </div>
</div>
