<title>Rio Olympics - Search</title>
<div class="row">
  <h1>Search Athletes</h1>
</div>
<div class="row">
  <form class="search-form" action="/athlete/index" method = "get">
    <input type="text" name="search">
    <input type="submit" name="Search" value="Search">
  </form>
</div>
<div class="row">
  <div class="search-results">
    <%if @athletes.class == Array && @athletes.length > 0%>

    <%for athlete in @athletes%>
    <% medals = athlete.medals%>

    <div class="result-box">
      <div class="row">
        <div class="col-4">
          <img src="<%=athlete.nation.flag_url%>">
        </div>
        <div class="col-8">
          <a href="/athlete/<%=athlete.id%>"><%=athlete.name%></a>
        </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="gold-medal"></div>
      </div>
      <div class="col-4">
        <div class="silver-medal"></div>
      </div>
      <div class="col-4">
        <div class="bronze-medal"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="gold-result"><%=medals['gold']%></div>
      </div>
      <div class="col-4">
        <div class="silver-result"><%=medals['silver']%></div>
      </div>
      <div class="col-4">
        <div class="bronze-result"><%=medals['bronze']%></div>
      </div>
    </div>
  </div>

  <%end%>

  <%end%>
</div>

</div>